{% extends 'base.html.twig' %}

{% block title %}Détail sortie{% endblock %}

{% block body %}
<div class="page">
    <h1>Détail de la sortie</h1>
    <fieldset class="fieldset-sortie">
        <div class="colonne">
            <div class="fieldset-champ">
                <h5>Nom de la sortie : </h5>
                <p>{{ sortie.name }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Date et heure de la sortie : </h5>
                <p>Le {{ sortie.dateHeureDebut.format("d/m/Y") }} à {{ sortie.dateHeureDebut.format("H:i") }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Date limite d'inscription : </h5>
                <p>{{ sortie.dateLimiteInscription.format("d/m/Y") }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Nombre de places : </h5>
                <p>{{ sortie.nbreInscriptionMax }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Durée de la sortie : </h5>
                <p>{{ sortie.duree.format('%i minutes') }} minutes</p>
            </div>
            <div class="fieldset-champ">
                <h5>Description et infos : </h5>
                <p>{{ sortie.infosSortie }}</p>
            </div>
        </div>
        <div class="colonne">
            <div class="fieldset-champ">
                <h5>Campus : </h5>
                <p>{{ sortie.campus.name }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Lieu : </h5>
                <p>{{ sortie.lieu.nom }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Rue : </h5>
                <p>{{ sortie.lieu.rue }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Ville : </h5>
                <p>{{ sortie.lieu.ville.nom }} ({{ sortie.lieu.ville.codePostal }}) </p>
            </div>
            <div class="fieldset-champ">
                <h5>Latitude : </h5>
                <p>{{ sortie.lieu.latitude }}</p>
            </div>
            <div class="fieldset-champ">
                <h5>Longitude : </h5>
                <p>{{ sortie.lieu.longitude }}</p>
            </div>
        </div>
    </fieldset>
    <div class="liste-participants">
        <h3>Liste des participants inscrits :</h3>

        {% if sortie.participants %}
            <table class="table-participants">
                <thead>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </thead>
                {% for p in sortie.participants %}
                <tbody>
                    <tr>
                        <td>{{ sortie.participants.pseudo }}</td>
                        <td>{{ sortie.participants.prenom }} {{ sortie.participants.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun participant pour le moment...</p>
        {% endif %}
    </div>
</div>
{% endblock %}