{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/liste.css') }}">{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="box-droite">
        <h5>Date du jour : {{ "now" | date('d/m/Y') }}</h5>
        <h5>Participant : {{ app.user.pseudo }}</h5>
    </div>
    <div class="box-gauche">
        <h5>Filtrer les sorties :</h5>

    </div>
    <div class="table-box">
        {% if sorties == null %}
            Aucune sortie prévue pour l'instant
        {% else %}
        <table class="tableau-style">
            <thead>
            <tr>
                <th class="col">Nom de la sortie</th>
                <th class="col">Date de la sortie</th>
                <th class="col">Clôture</th>
                <th class="col">Inscrits / Places</th>
                <th class="col">Etat</th>
                <th class="col">Inscrit</th>
                <th class="col">Organisateur</th>
                <th class="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for s in sorties %}
                    <tr>
                        <td class="col">{{ s.name }}</td>
                        <td class="col">{{ s.dateHeureDebut.format("d/m/Y") }}</td>
                        <td class="col">{{ s.dateLimiteInscription.format("d/m/Y") }}</td>
                        <td class="col">{{ s.participants.count }}/{{ s.nbreInscriptionMax }}</td>
                        <td class="col">{{ s.etat.libelle }}</td>

                        <td class="col">{% for p in s.participants %}
                                            {% if p == app.user %}
                                                X
                                            {% endif %}
                                        {% endfor %}
                        </td>

                        <td class="col">{{ s.organisateur.pseudo }}</td>
                        <td class="col"><a href="{{ path('sortie_detail', {'id':s.id}) }}">Afficher</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <button type="submit"><a href="{{ path('sortie_create') }}">Créer un sortie</a></button>
    </div>

{% endblock %}



