<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/style.css') }}">{% endblock %}

        <title>{% block title %}Bienvenue sur SortirENI.com{% endblock %}</title>
    </head>
    <main>
        <header>
            <div class="app-titre">
                <img src="{{ asset('img/images/SortirLogo.png') }}" alt="logoSortirEni">
                <h1>SortirENI.com</h1>
            </div>
            <nav>
                <ul>
                    {% if app.user %}
                        <li><a href="">Accueil</a></li>
                        <li><a href="{{ path('utilisateur_profil') }}">Mon profil</a></li>
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <body>
        {% block body %}{% endblock %}
        </body>
        <footer>
            <div>&copy;SortirENI.com - {{ "now"|date('Y') }} - Groupe : Marie / Nordine / Yannick</div>
        </footer>
    </main>

</html>
